{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>saison :
				{{ season.id }}</p>
			<p>{{ episode.id }}</p>
			<p>{{ episode.title }}</p>
			<p>{{ episode.synopsis }}</p>
		</div>
	</div>

{% endblock %}
