{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">

		<div class="media-body">
			<h1 class="mt-0">{{ program.name }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>

			<li>{{ season.number }}
				{{ season.year }}</li>
			<p>{{ season.description }}</p>

			<div>
				{% for episode in episodes %}
					<p>Episode
						{{episode.number}}</p>
					<p>Description
						{{episode.synopsis}}</p>
					<a href="{{ path('program_episode_show', { program: program.id, season: season.id, episode: episode.id} ) }}">
						Détails de l'épisode
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes</a>
{% endblock %}
